@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    min-width: 320px;
    font-family: theme("fontFamily.sans");
    background: #ffffff;
    text-rendering: geometricPrecision;
  }

  img {
    max-width: 100%;
  }
}

@layer utilities {
  .tracking-normal {
    letter-spacing: 0;
  }
}
